<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%X{akkaTimestamp} %-5level[%thread] %logger{0} - %msg%n</pattern>
        </encoder>

        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>de.oth.de.oth.clustering.java.clustering.scala.exceptions.TestSuccessException.class.isInstance(throwable)</expression>
            </evaluator>
            <onMatch>DENY</onMatch>
        </filter>

        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>de.oth.de.oth.clustering.java.clustering.scala.exceptions.TestFailException.class.isInstance(throwable)</expression>
            </evaluator>
            <onMatch>DENY</onMatch>
        </filter>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/de.oth.clustering.java.clustering.log</file>
        <append>false</append>
        <encoder>
            <pattern>%date{yyyy-MM-dd} %X{akkaTimestamp} %-5level[%thread] %logger{1} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>de.oth.de.oth.clustering.java.clustering.scala.exceptions.TestSuccessException.class.isInstance(throwable)</expression>
            </evaluator>
            <onMatch>DENY</onMatch>
        </filter>

        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>de.oth.de.oth.clustering.java.clustering.scala.exceptions.TestFailException.class.isInstance(throwable)</expression>
            </evaluator>
            <onMatch>DENY</onMatch>
        </filter>
    </appender>

    <logger name="akka" level="DEBUG" />

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>